img {
  width : 100%;
  height : 100%;
}

.font-div {
  width: 25%;
}

.padding-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.carousel-indicators {
  bottom: -10px !important;
}

/* .headerImage {
  background-image: url('../img/Laptop-Wallpaper.png');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

footer {
  height : 400px;
  background-image: url('../img/Me1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 3px solid #007bff;
}

.maindiv {
  opacity: 0.9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.textholder {
  height: 100% !important;
  position: relative;
  text-align: center !important;
  justify-content: center !important;
}

.imagetext {
  position: absolute;
  margin-top: 30%;
  margin-left: 3%;
}

.facebook, .linkedin {
  position: absolute;
  width: 30px;
  height: 30px;
}

.facebook {
  left: 45%;
}

.linkedin {
  left: 51%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.downloadbtn {
  border-radius: 0px !important;
  margin-top: -2px;
}


div#carouselExampleIndicators img {
  max-height: 480px;
}

.carousel-caption h3, .carousel-caption h4 {
  font-weight: bold !important;
}

.carousel-caption {
  background-color: #00000080;
} 

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


.chart-responsive {
  overflow:hidden;
  position:relative;
  height:0;
}

.chart-responsive div {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  min-height: 300px;
  min-width: 300px;
}

@media only screen and (max-width: 1000px) {
  .facebook {
    left: 42%;
  }
  
  .linkedin {
    left: 52%;
  }
}

@media only screen and (max-width: 600px) {
  .facebook {
    left: 41%;
  }
  
  .linkedin {
    left: 53%;
  }
}

@media only screen and (max-width: 480px) {
  .facebook {
    left: 37%;
  }
  
  .linkedin {
    left: 54%;
  }
}


@media only screen and (max-width: 360px) {
  .facebook {
    left: 33%;
  }
  
  .linkedin {
    left: 53%;
  }
}
